<div class="card  mb-4 border shadow-sm">
	<h1 class="h4 card-header d-flex justify-content-between">{{user.fullname}}

		{% if user.isOpenToWork %}
			<span class="badge bg-success">Open to Work !</span>
		{% else %}
			<span class="badge bg-secondary">Busy, sorry !</span>
		{% endif %}
	</h1>
	<div class="card-body container-fluid p-2 p-sm-3 p-md-5">


		<div class="d-flex flex-wrap">

			<div class="col-md-8 col-12 p-1">
				<h2 class="display-5 pb-2">{{ user.title }}</h2>
				<p class="fs-4 text-success">{{ user.subtitle }}</p>
				<p class="fs-5">
					{{ user.shortDescription | nl2br }}
				</p>

				<div class="d-flex gap-2">

					{% if user.longDescription is not empty %}
						<button id="moreInfoButton" class="seeMore btn btn-outline-success mt-4 btn-lg border shadow-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseProfile" aria-expanded="false" aria-controls="collapseProfile">
							<i class="fa-solid fa-chevron-down"></i>
						</button>
					{% endif %}

					<a href="{{ path('contact', {id: user.id, slug: user.slug}) }}" class="seeMore btn btn-outline-success mt-4 btn-lg border shadow-sm" type="button">
						<i class="fa-solid fa-envelope"></i>
					</a>
					<a href="#projects" class="btn btn-outline-success mt-4 btn-lg border shadow-sm" type="button">
						<i class="fa-solid fa-briefcase"></i>
					</a>
				</div>

				<div class="collapse mt-4" id="collapseProfile">
					<div class="card card-body pt-4 text-justify border-0">
						<p class="fs-6">
							{{ user.longDescription | nl2br }}
						</p>

					</div>
				</div>


			</div>

			<div class="col-md-4 col-12 text-center p-4 overflow-hidden">
				{% if user.media is not null %}
					<img src="/images/users/{{ user.media.thumbnail }}" class="card-img-top rounded-circle" alt="{{ user.fullname }}">
				{% else %}
					<img src="/images/users/user.png" class="card-img-top rounded-circle" alt="{{ user.fullname }}">

				{% endif %}

			</div>
		</div>


	</div>
</div>
