{% extends 'base.html.twig' %}

{% block title %}PortFolioMaker - Experiences
{% endblock %}

{% block body %}

	{% include 'partials/flash.html.twig' %}

	<div class="m-5 text-center col-12 col-sm-8 col-md-4 col-lg-4 col-xl-2 mx-auto">
		<a href="{{ path('admin.experience.add') }}" class="btn btn-outline-success btn-block text-primary shadow-sm">Add new Experience</a>
	</div>

	{% if experiences is not empty %}
		{% for experience in experiences %}
			<div class="table-responsive border mb-5 rounded shadow-sm">
				<table class="table table-light table-borderless">
					<thead>
						<tr>
							<th class="col-1"></th>
							<th class="col-3">Title</th>
							<th class="col-2">Type</th>
							<th class="col-2">Location</th>
							<th class="col-1">Start Date</th>
							<th class="col-1">End Date</th>
							<th class="col-2">Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr class="table">
							<td class="col-1"></td>

							<td class="col-3">{{ experience.title }}</td>
							<td class="col-2">
								{% if experience.isFormation %}
									Academic
								{% else %}
									Professional
								{% endif %}
							</td>
							<td class="col-2">{{ experience.location }}</td>
							<td class="col-1">{{ experience.startDate|date("d/m/Y") }}</td>
							<td class="col-1">{{ experience.endDate ? experience.endDate|date("d/m/Y") : 'Present' }}</td>
							<td class="text-center col-2">
								<button class="btn btn-outline-success d-flex align-items-center justify-content-center m-1 shadow-sm" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" style="width:100px; height: 38px;">Details</button>
								<a href="{{ path('admin.task.add', {id: experience.id, source:'experience'}) }}" class="btn btn-outline-primary btn-sm d-flex align-items-center justify-content-center m-1 shadow-sm" style="width:100px; height: 38px;">Add Task</a>
								<a href="{{ path('admin.experience.edit', {id: experience.id}) }}" class="btn btn-outline-warning btn-sm text-primary d-flex align-items-center justify-content-center m-1 shadow-sm" style="width:100px; height: 38px;">Edit</a>
								<form action="{{ path('admin.experience.delete', {id: experience.id}) }}" method="post">
									<input type="hidden" name="_method" value="DELETE">
									<button type="submit" class="btn btn-outline-danger btn-sm text-primary d-flex align-items-center justify-content-center m-1 shadow-sm" style="width:100px; height: 38px;">Delete</button>
								</form>
							</td>
						</tr>

						{{ include('admin/experience/_experienceModal.html.twig') }}


						{% if experience.task is not empty %}
							{% for task in experience.task %}
								<tr class="table">
									<td class>
										<strong>Task
											{{ loop.index }}</strong>
									</td>
									<td colspan="5">
										<p>{{ task.description }}</p>
									</td>

									<td colspan="2" class="text-center">

										<form action="{{ path('admin.task.delete', {id: task.id, source:'experience'}) }}" method="post">
											<input type="hidden" name="_method" value="DELETE">
											<button type="submit" class="btn btn-outline-danger btn-sm text-primary d-flex align-items-center justify-content-center shadow-sm" style="width:100px; height: 38px;">Delete</button>
										</form>

									</td>
								</tr>
							{% endfor %}
						{% else %}
							<tr class="table-light">
								<td></td>
								<td colspan="6" class="text-left">
									No tasks for this experience
								</td>
							</tr>
						{% endif %}
					</tbody>
				</table>
			</div>
		{% endfor %}
	{% else %}
		<p class="text-center">No experience added</p>
	{% endif %}
{% endblock %}
