{% extends 'base.html.twig' %}

{% block title %}PortFolioCreator - Skills
{% endblock %}

{% block body %}

	{% include 'partials/flash.html.twig' %}

	<div class="m-5 text-center col-12 col-sm-8 col-md-4 col-lg-4 col-xl-2 mx-auto">
		<a href="{{ path('admin.skill.add') }}" class="btn btn-outline-success btn-block text-primary shadow-sm">Add new Skill</a>
	</div>

	{% if scoresSkills is not empty %}
		<div class="table-responsive border rounded shadow-sm">
			<table class="table table-light">
				<thead>
					<tr>
						<th class="col-4">Title</th>
						<th class="col-4">Level</th>
						<th class="col-4">Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for scoreSkill in scoresSkills %}
						<tr class="table">
							<td class="col-4">{{ scoreSkill.skill.title }}</td>
							<td class="col-4">{{ scoreSkill.score }}
								/ 5</td>
							<td class="text-center col-4">
								<a href="{{ path('admin.skill.edit', {id: scoreSkill.id}) }}" class="btn btn-outline-warning text-primary mb-2 shadow-sm" style="width:100px; height: 38px;">Edit</a>
								<form action="{{ path('admin.skill.delete', {id: scoreSkill.id}) }}" method="post">
									<input type="hidden" name="_method" value="DELETE">
									<button type="submit" class="btn btn-outline-danger text-primary shadow-sm" style="width:100px; height: 38px;">Delete</button>
								</form>

							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% else %}
		<p class="text-center">No skill added</p>
	{% endif %}


{% endblock %}
